{% extends "accounts/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <form style = "margin-top: 50px;margin-left: 50px;margin-right: 50px;" action="{% url 'password-reset-redirect' id token %}" method=POST>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name = 'password'>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}
